@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
  }

h4{
    font-size: 2.4rem;
    font-weight: 700;
    color: #7994c2;
    font-family: 'Open Sans Condensed', sans-serif;
}

.logo-item{
    text-align: center;
    flex-grow: 1;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: namegradient 2s infinite alternate;
    animation-timing-function: ease;
}

header{
    margin-bottom: 75px;
}

.menu-container {
    background: linear-gradient(90deg, rgba(121,148,194,1) 0%, rgba(99,140,198,1) 13%, rgba(125,170,227,1) 25%, rgba(145,179,228,1) 37%, rgba(121,148,194,1) 50%, rgba(145,179,228,1) 63%, rgba(125,170,227,1) 75%, rgba(99,140,198,1) 87%, rgba(121,148,194,1) 100%);;
    padding: 10px 20px; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000;
    height: 70px;
    padding-bottom: 40px;
}

.menu-nav {
    background-color: #7daae3; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 25px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #e2d7d3;
    text-decoration: none;
  
    transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #324496;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #e2d7d3;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #324496;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 10px solid #e2d7d3;
  background: #7994c2;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 25px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
  
main { 
    height: 50%;
    position: relative;
    background-color: white;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  
.img-overlay {
    margin-top: 10px;
    border-radius: 25px; 
    border: 10px solid #e2d7d3;
    width: 100%;
    height: 100%; 
    overflow: hidden; 
    position: relative;
}

.img-overlay img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

.news-section {
    border-radius: 25px; 
    border: 10px solid #e2d7d3; 
    height: auto; 
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: #7994c2;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
    margin-top: 5px;
}

.news-section .ncard {
    border: 1px solid #7994c2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background:  #e2d7d3;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.news-section .ncard:hover {
    height: 400px;
}

.news-section .ncard .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.news-section .ncard:hover .img-box {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.news-section .ncard .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-section .ncard .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.news-section .ncard:hover .content {
    top: 130px;
    height: 250px;
}

.news-section .ncard .content h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #7994c2;
}

.news-section .ncard .content p {
    font-family: 'Mak Light';
    color: #333;
    font-size: 20px;
}

.news-section .ncard .content a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: #7994c2;
    color: #FFF;
    font-weight: 500;
}

.news-section .ncard .content a:hover {
    opacity: 0.8;
}

.show-all {
    position: relative; 
    margin-top: 60px; 
    text-align: center;
}

#show-more{
    padding: 10px 20px;
    background-color: #e2d7d3;
    color: #7994c2;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#show-more:hover{
    background-color: white;
}

.faces-section {
    border-radius: 25px;
    border: 10px solid #e2d7d3; 
    height: auto; 
    align-items: center;
    padding: 0px;
    background-color: #7994c2;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
    margin-top: 5px;
}

.faces-section .fcards{
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: #7994c2;
    justify-content: space-around;
    font-family: 'Open Sans Condensed', sans-serif;
}

.faces-section .fcard {
    border: 1px solid #7994c2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 400px;
    background:  #e2d7d3;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.faces-section .fcard .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.faces-section .fcard .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.faces-section .fcard .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
}

.faces-section .fcard .content a {
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #7994c2;
}

.faces-section .fcard .content a:hover {
    text-decoration: underline;
}

.faces-section .fcard .content p {
    font-family: 'Mak Light';
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    color: #333;
}

.container-ask {
    width: 100%;
    background-color: #7994c2;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;

    border-radius: 25px;
    color:white;
    border: 10px solid #e2d7d3;
  }
  
  .container-ask h2 {
    margin-top: 0;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
  }
  
  input[type="email"],
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.container-ask button {
    padding: 10px 20px;
    background-color: white;
    color: #7994c2;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.container-ask button:hover {
    opacity: 0.7;
}

.events-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .event-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
  
  .add-event-btn {
    margin-top: 20px;
  }
  
  .event-form {
    display: none;
  }
  
  .event-form input {
    display: block;
    margin-bottom: 10px;
  }
  .events-list-container{
    border-radius: 25px; 
    border: 10px solid #e2d7d3; 
    height: auto; 
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: #7994c2;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
    margin-top: 5px;
  }
  .event-form button {
    display: block;
    margin-top: 10px;
  }

  .events-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .event-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    max-width: calc(100% - 20px);
  }
  
  .event-card p {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
.menu-nav {
    background-color: #7daae3; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

#addEventBtn, #clearEventsBtn{
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #e2d7d3;
    color: #7994c2;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clearEventsBtn:hover {
    background-color: #f3e5e0;
}

#addEventBtn:hover {
    background-color: #f3e5e0;
}

#eventForm button{
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #e2d7d3;
    color: #7994c2;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#eventForm button:hover{
    background-color: #f3e5e0;
}

footer {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    height: 175px; 
    background-color: #e2d7d3;
}

.footer .middle {
    top: 50%;
    width: 100%;
}

.footer-btn {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #fff;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #7994c2;
    overflow: hidden;
    position: relative;
}
.footer-btn i{
    line-height: 70px;
    font-size: 26px;
    margin-left: 35%;
    transition: 0.2s linear;
}
.footer-btn:hover i{
    transform: scale(1.3);
    color: #fff;
}
.footer-btn::before {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    background: #7994c2;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.footer-btn:hover::before {
    animation: footer-botton 0.7s 1;
    top: -10%;
    left: -10%;
}

#loginBox {
    height: auto;
    margin-bottom: 20px;
    margin-right: 10px;
}

#loginBox-bg{
    float:center;
    position:relative;
    border: none;
    display: flex;
    align-items: center;
}

#loginText {
    flex: 1;
    padding-right: 20px;
    font-family: 'Mak Light';
    font-size: 15px;
    margin:10px;
}

#loginForm {
    border: 7px solid #7994c2;
    display: flex;
    flex-direction: column;
    background-color:#e2d7d3;
    padding:10px;
    border-radius: 20px;
}

#loginForm input[type="text"],
input[type="password"] {
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width:200px;
    height: 25px;
}

#loginForm button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #7994c2;
    color:#fff ;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

#loginForm button:hover {
    background-color: #324496;
}

.logo {
    margin-left: 10px;
    width: 15%;
}

.logo .img-box {
    max-width: 100%;
    max-height: 100%; 
}

.logo .img-box img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}


@keyframes footer-botton {
    0%{
        left: -110%;
        top: 90%;
    }50%{
        left: 10%;
        top: -30%;
    }100%{
        top: -10%;
        left: -10%;
    }
}

@media (max-width: 768px) {
    .img-overlay {
        max-width: 100%; 
    }
    .img-overlay img{
        width: 100%;
    }
}

@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
    }

    .name-container {
        margin-bottom: 10px; 
    }

    .nav.nav-pills {
        flex-direction: column; 
    }

    .nav.nav-pills li {
        margin-right: 0; 
        margin-bottom: 5px; 
    }
}

@media (max-width: 480px) {
    .faces-section .fcard {
        width: 230px;
        border-radius: 15px;
    }

    .faces-section .fcard .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .faces-section .fcard .content p {
        font-size: 0.8rem;
    }

    .faces-section .fcard .content a {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .news-section .ncard {
        width: 230px;
        border-radius: 15px;
    }

    .news-section .ncard .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .news-section .ncard .content p {
        font-size: 0.8rem;
    }

    .news-section .ncard .content a {
        font-size: 0.9rem;
    }
}
  
@keyframes namegradient {
    from {
        background-image: radial-gradient(circle, rgba(255,225,214,1) 0%, rgba(0,56,143,1) 100%);
    }
    10%{
        background-image: radial-gradient(circle, rgba(255,225,214,1) 10%, rgba(0,56,143,1) 100%);
    }
    20%{
        background-image: radial-gradient(circle, rgba(255,225,214,1) 20%, rgba(0,56,143,1) 100%);
    }
    30%{
        background-image: radial-gradient(circle, rgba(255,225,214,1) 30%, rgba(0,56,143,1) 100%);
    }
    40%{
        background-image: radial-gradient(circle, rgba(255,225,214,1) 40%, rgba(0,56,143,1) 100%);
    }
    50% {
        background-image: radial-gradient(circle, rgba(255,225,214,1) 50%, rgba(0,56,143,1) 100%);
    }
    60%{
        background-image: radial-gradient(circle, rgba(255,225,214,1) 60%, rgba(0,56,143,1) 100%);
    }
    70%{
        background-image: radial-gradient(circle, rgba(255,225,214,1) 70%, rgba(0,56,143,1) 100%);
    }
    80%{
        background-image: radial-gradient(circle, rgba(255,225,214,1) 80%, rgba(0,56,143,1) 100%);
    }
    90%{
        background-image: radial-gradient(circle, rgba(255,225,214,1) 90%, rgba(0,56,143,1) 100%);
    }
    to{
        background-image: radial-gradient(circle, rgba(255,225,214,1) 100%, rgba(0,56,143,1) 100%);
    }
  }